/*GUESTS*/
/*homeguests.php*/
.navbar-header {
	border-right: 5px solid #000;
}
.navbar-header:hover {
	font-weight: 700;
}
#guestsnav {
	/*border:5px solid red;*/
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: #00FFFF;
}
.nav-item {
	margin-left: 10px;
	margin-right: 10px;
}
.nav-item:hover {
	text-transform: uppercase;
	text-decoration: underline;
}
.nav-link {
	color: #000;
}
.nav-link:hover {
	color: #000;
}
#active {
	text-transform: uppercase;
	font-weight: 700;
	text-decoration: underline;
}
.wheelexpl {
	padding: 8px;
}
.twowheeler {}
.twowheelertitles {
	text-align: center;
}
.twowheelerimgs {
	width: 300px;
	text-align: center;
	border: 2px solid #000;
}
.fourwheeler {}


/*loginregisterguests.php*/
sup {
	color: red;
}
#fname {}
#sname {}
#userLocation {}
#yob {}
#userPhone {}
#userGender {}
#userPassword {}
#reset {}
#reset:hover {
	font-weight: 700;
	color: red;
	text-decoration: none;
}

.alert {
	font-weight: 700;
	padding: 10px;
	font-size: 18px;
}



/*login.php*/
..

/*resetpassword.php*/
..


/*aboutguests.php*/
#aboutDiv1 {
	grid-area: header;
	background-color:  #DAF7A6 ;
}
#aboutDiv2 {
	grid-area: menu;
	background-color: #FFC300  ;
}
#aboutDiv3 {
	grid-area: main;
	background-color:  #FF5733 ;
}
#aboutDiv4 {
	grid-area: footer;
	background-color: #581845  ;
}
#divsAbout {
	display: inline-grid;
	grid-template-areas:
	'header header header header'
    'menu main main main'
    'menu main main main'
    'footer footer footer footer'
	;
	background-color: tomato;
	grid-gap: 10px;
}



/*vehicleguests.php*/


/*contact.php*/


/*REGISTERED*/
/*homeregistered.php*/
/*aboutregistered.php*/
/*vehicleregistered.php*/
/*contactregistered.php*/
/*mybookingregistered.php*/
/*myaccountregistered.php*/