body {font-size:13px;}

/*GUESTS*/
/*homeguests.php*/
.navbar-header {
	border-right: 5px solid #000;
}
.navbar-header:hover {
	font-weight: 700;
}
#guestsnav {
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: #00FFFF;
}
.nav-item {
	/*margin-left: 10px;
	margin-right: 10px;*/
}
.nav-item:hover {
	text-transform: uppercase;
	text-decoration: underline;
}
.nav-link {
	color: #000;
}
.nav-link:hover {
	color: #000;
}
#active {
	text-transform: uppercase;
	font-weight: 700;
	text-decoration: underline;
}
.vrsmintro {
	margin-top: 80px;
}
#homeAvailablewheelers {}
.wheelexplfour {
	padding: 10px;
}
.wheelexpltwo {
	padding: 10px;
}
.wheelexp1:hover {
	font-weight: 700;
}
.twowheeler {}
.twowheelersamples {
	border:none;
}
.twowheelertitles {
	text-align: center;
}
.twowheelerimgs {
	width: 400px;
	height: 250px;
	text-align: center;
	border: 2px solid #000;
}
.twowheelercaption {
	text-align: center;
}
.fourwheeler {}
.fourwheelerimgs {
	width: 400px;
	height: 250px;
	text-align: center;
	border: 2px solid #000;
}
.fourwheelercaption {
	text-align: center;
}




/*loginregisterguests.php*/
sup {
	color: red;
}
#fname {}
#sname {}
#userLocation {}
#yob {}
#userPhone {}
#userGender {}
#userPassword {}
#reset {}
#reset:hover {
	font-weight: 700;
	color: red;
	text-decoration: none;
}

/*.alert {
	font-weight: 700;
	padding: 10px;
	font-size: 18px;
}*/



/*login.php*/
..

/*resetpassword.php*/
..


/*aboutguests.php*/
#aboutVision {
	padding:20px;
}
#aboutMotto {
	padding:20px;
}
#aboutProjections {}



/*vehicleguests.php*/
.twoWheelervehiclesimg {
	width: 50px;
	height: 50px;
}
.wheelerLink {
	color: #000;
}


/*contact.php*/
#socialmediaicons {
	width: 50px;
	height: 50px;
	padding: 5px;
}




/*twowheeler.php*/
#twowheelercardimg {
	width: 80px;
}
















/*REGISTERED*/
/*homeregistered.php*/
/*aboutregistered.php*/
/*vehicleregistered.php*/
/*contactregistered.php*/
/*mybookingregistered.php*/
/*myaccountregistered.php*/